.link{
    text-decoration: none;
    text-decoration-line: none;
}

.letras{
    padding: 12px;
    border-radius: 15px;
    display: inline; 
    text-align:justify;
    color: black;
}

img{
    border-radius: 10px;
    border-color: rgb(2, 14, 87);
    border-style: outset;
    width: 300px;
}